.header {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

.descrption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  padding: 30px 10px 30px 10px;
  height: 40px;
  color: green;

  & span {
    text-align: center;
  }

  &.disabled {
    color: grey;
  }
}

.button {
  text-align: center;
  background-color: wheat;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background-color: bisque;
  }

  &:active {
    background-color: gray;
  }

  &.disabled {
    background-color: gray;

    &:hover {
      cursor: default;
      background-color: gray;
    }

    &:active {
      background-color: gray;
    }
  }
}

.back {
  padding: 10px;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
    background-color: bisque;
  }

  &:active {
    background-color: gray;
  }
}